@model MessageForumTeam.Models.PostTagViewModel
    
@{
    ViewData["Title"] = "Index";

    //string TitleTooLong(string title)
    //{
    //    if (title != null && title.Length >= 50)
    //    {
    //        string newTitle = title.Remove(50, title.Length);
    //        return newTitle + "...";
    //    } else
    //    {
    //        return title;
    //    }
    //}

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Posts" asp-action="Index">
    <p>
        <select asp-for="PostTag" asp-items="Model.Tags">
            <option value="">ALL</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.Posts![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts!) {
            <tr class="postIt">
                <td class="post-title">
                   
                    @Html.DisplayFor(modelItem => item.Title) 📝
            </td>
            <td class="post-description">
                    @{
                        string newDescription = item.MaxDescriptionLength();
                    }
                    @Html.DisplayFor(modelItem => newDescription)
            </td>
            <td class="post-author">
                👤 @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td class="post-date">
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td class="post-comments">
                    @{
                        int commentsNum = item.CommentsToInt();
                    }
                    @Html.DisplayFor(modelItem => commentsNum) Comment
            </td>
            <td class="post-likes">
                    @{
                        int numOfLikes = item.LikesToInt();
                    }
                    <i class="fa-regular fa-thumbs-up"></i> Likes: @Html.DisplayFor(modelItem => numOfLikes)
            </td>
            <td class="post-tags">
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td class="post-details">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
