@model MessageForumTeam.Models.PostTagViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Posts" asp-action="Index">
    <p>
        <select asp-for="PostTag" asp-items="Model.Tags">
            <option value="">ALL</option>
        </select>

        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posts![0].Tags)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Posts!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
